<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head" . }}
</head>
<body>
  <div class="charcoal sans-serif w-90 mw9 center">
    <nav class="montserrat mv4 fw6 flex-wrap ttu tracked sans-serif flex flex-between">
      <a href="{{ .Site.BaseURL }}/index.html" class="w-100 w-auto-l flex items-center pv3 pv0-l mr3 flex-grow-1 flex items-center justify-center justify-start-l no-underline" >
        <img alt="Dash" src="{{ .Site.BaseURL }}/images/brand/Dash-D-white_on_blue_circle_s.png" class="w3 h3 mr3">
        <h1 class="f3 white">Dash Platform</h1>
      </a>

      {{ range (where .Site.Pages "Type" "category") }}
      <a href="{{ .RelPermalink }}index.html"
        class="flex-grow-1 flex items-center justify-center white no-underline pa2 bg-animate dib bg-{{ .Params.color }}-muted hover-bg-{{ .Params.color }}">
        <span class="w2 h2 fill-white mr2">{{ partial (print "icons/" .Params.icon ".svg" ) }}</span>
        {{ .Title }}
      </a>
      {{ end }}
    </nav>

    <nav class="montserrat mv4 fw6 flex-wrap ttu tracked sans-serif flex flex-between">
      <a href="https://discord.gg/mU79ZWx"
         class="flex-grow-1 flex items-center justify-center white no-underline pa2 bg-animate dib bg-blue hover-aqua">
        Join the Developer Discord!
      </a>
    </nav>
    {{ template "main" . }}

    <footer class="mv4 montserrat ttu tc snow tracked b">
      <a target="_blank" href="https://github.com/andyfreer/awesome-dash-platform" class="snow no-underline">Github</a> |
      <a target="_blank" href="https://github.com/andyfreer/awesome-dash-platform/blob/master/CONTRIBUTING.md" class="snow no-underline"> Get Listed</a> |
      <a target="_blank" href="https://www.dash.org" class="snow no-underline">Dash.org</a>
    </footer>
  </div>
  <script src='{{ .Site.BaseURL }}/app.js'></script>
</body>
</html>